.lead__image {
    background: url(../../../images/kalegin-michail-179870-unsplash.jpg) no-repeat;
    margin: auto;
    width: 100%;
    margin-top: 64px;
    background-size: contain;
}

@media (max-width: 1024px) {
    .lead__image {
        margin-top: 56px;
    }
}

@media (max-width: 768px) {
    .lead__image {
        margin-top: 56px;
    }
}

@media (max-width: 320px) {
    .lead__image {
        margin-top: 37px;
    }
}