.lead__image {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 90.21px;
    width: 100%;
    max-width: 937.09px;
}

@media (max-width: 1024px) {
    .lead__image {
        max-width: 883.76px;
        padding-top: 85.07px;
    }
}

@media (max-width: 768px) {
    .lead__image {
        max-width: 732.76px;
        padding-top: 66.07px;
    }    
}

@media (max-width: 320px)  {
    .lead__image {
        max-width: 304.74px;
        padding-top: 29.34px;
    }
}